<h1>Add a pet:</h1>

<%= simple_form_for @pet do |f| %>
  <%= f.input :name, label: 'pets name?' %>
  <%= f.input :address %>
  <%= f.input :found_on %>
  <%= f.input :species,  collection: Pet::SPECIES %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
